[submodule "lib/minhook"]
	path = lib/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "lib/acquire"]
	path = lib/acquire
	url = git@github.com:itisluiz/Acquire.git
[submodule "lib/csys"]
	path = lib/csys
	url = https://github.com/rmxbalanque/csys.git
